

.main-section{

    display: flex;
    width: 90%;
    margin: 2rem auto;
    // background: pink;

    @media (max-width: 575px){
        flex-direction: column;
    }

    //left container
    .left{
        width: 25rem;
    //    background: red;

        @media (max-width: 575px){
            width: 100%;
        }

        @media (min-width: 750px){
            width: 30%;
        }


       //INTRO START
       &__intro{
            background-color: $color-white;
            padding: 1rem;
            box-shadow: $box-shadow;
            margin-bottom: 1rem;

       }

       &__header{
           display: flex;
           align-items: center;
           margin-bottom: 1rem;
           

            &-img{
                width: 2.25rem;
                height: 2.25rem;
                background-color: $color-grey-dark;
                border-radius: 50%;
            }

            &-text{
                margin-left: 0.5rem;
                color: $color-grey-dark;
                margin-right: auto;
            }

            & i{
                color: $color-grey-dark;
            }

       }

       &__job{

        display: flex;

        &--text{
            margin-right: auto;
            margin-bottom: 0.8rem;
            color: $color-grey-dark;
        }

        &--icon{
            color: $color-grey-dark;
            font-size: $icon-size;
        }

       }

       &__address{

        color: $color-grey-dark;

        &--complete{
            line-height: 1.2rem;
            margin-bottom: 0.5rem;

        }

        &--country{
            margin-bottom: 1rem;
        }

       }

       &__link{

        text-decoration: none;
        text-transform: uppercase;
        color: $color-links-blue;
       }

       //INTRO END



       //PHOTO START

       .left__photo{

        .left__header{
            padding: 1rem;
            margin-bottom: 0

        }
        
            background-color: $color-white;
            box-shadow: $box-shadow;
            margin-bottom: 1rem;

            .photo-container{
                padding: 3px;

                &__row{

                    display: flex;
                    justify-content: space-between;

                    &:not(:last-child){
                        margin-bottom: 2px;
                    }

                    &--photo{
                        width: 32.79%;
                        height: 8rem;
                        background: green;
                    }
                }
            }
       }
       //PHOTO END


    }


    //right container
    .right{
        margin-top: -6.1rem;
        width: 40rem;
        // background: blue;
        margin-left: 3rem;
        z-index: 10;

        @media (max-width: 575px){
            width: 100%;
            margin: 0;
        }

        @media (min-width: 750px){
            width: 50%;
        }


        .navbar{
            background: $color-white;
            display: flex;
            box-shadow: $box-shadow;
            margin-bottom: 1rem;

            .icon-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: calc(90% / 4);
                
                
                padding: 1rem;
                
                &:first-child{
                    border-bottom: 2px solid $color-links-blue;
                    
                }

                &:last-child{
                    width: 10%;
                }
                & i {
                    color: $color-grey-dark;
                    font-size: $icon-size;
                    margin-bottom: 0.5rem;
                }

                &__text{
                    text-align: center;
                    text-transform: uppercase;
                    
                    
                }

                &:first-child {
                    i, p{
                        color: $color-links-blue;
                    }
                }

                
            }
        }

        .first-post{
            background-color: $color-white;
            box-shadow: $box-shadow;
            margin-bottom: 1rem;

            &__header{

                display: flex;
                padding: 1rem;

                .img{
                    width: 3rem;
                    height: 3rem;
                    background:red;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }

                & i{
                    align-self: center;
                    color: $color-grey-dark;
                }
            }

            &__details{
                margin-right: auto;
                
                display: flex;
                flex-direction: column;
                justify-content: space-around;


                .para{

                    &__name{
                        color: $color-links-blue;
                    }

                    &__link{
                        text-decoration: none;
                        color: $color-links-blue;
                    }

                    &__date{
                        color: $color-grey-dark;
                    }
                }
            }

            &__img{
                background-image: url('https://source.unsplash.com/random/600x600');
                // background: orangered;
                height: 25rem;
            }

            &__likes{
                display: flex;
                padding: 1rem;
                
                & i{
                    color: $color-grey-dark;
                    font-size: $icon-size;
                    padding: 0 0.5rem;
                }

                & i:nth-child(2){
                    margin-right: auto;
                }
            }

            .comments{

                display: flex;
                background: #eee;
                padding: 1rem 0;

                &__img{
                    margin-left: 0.5rem;
                    width: 10%;
                    // background: black;
                    display: flex;
                    justify-content: center;
                    

                    .img{
                        width: 3rem;
                        background: $color-white;
                        height: 3rem;
                        border-radius: 50%;
                        
                    }

                }

                &__text{
                    flex: 1;
                    padding-right: 1rem;
                    margin-left: 0.5rem;
                    
                    &--first{
                        display: flex;
                        justify-content: space-between;
                        
                        
                        .name{
                            font-weight: 600;
                            color: $color-links-blue;
                        }

                        .time{
                            color: $color-grey-dark;
                        }
                    }

                    &--second{
                        margin-top: -0.5rem;
                        color: $color-grey-dark;
                    }
                }

            }

            .input{
                // background: yellow;
                padding: 1rem;
                display: flex;
                align-items: center;
                
                

                &__img{
                    margin-right: 1rem;
                    width: 3rem;
                    height: 2.8rem;
                    border-radius: 50%;
                    background: black;
                }

                .input__box{
                    width: 100%;
                    position: relative;

                    & input{
                        padding: 0.5rem;
                        border: none;
                        width: 100%;
                        border-bottom: 1px solid #ccc;
                        padding-left: 0;
                    }

                    & input::-webkit-input-placeholder {
                        color: $color-grey-dark;
                    }

                    .icons{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(0, -50%);
                        
                        & i{
                            font-size: $icon-size;
                            color: $color-grey-dark;
                            padding: 0 0.5rem;
                        }
                    }

                    
                }
            }

            
        }


        .second-post{

            // background-color: orangered;
            box-shadow: $box-shadow;
            

            &__img{
                background-image: url('https://source.unsplash.com/random/600x600');
                background-size:cover;
                background-position: center;
                position: relative;
                height: 25rem;

                
                .logo{
                    width: 3rem;
                    height: 3rem;
                    background-color: navy;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                }

                .lower__container{
                    position: absolute;
                    width:100%;
                    bottom: 0;
                    background: rgba( 0,0,0, 0.5);
                    padding: 1rem;
                    color: $color-white;

                    .first{
                        font-size: 1.5rem;
                        
                        margin-bottom: 0.5rem;
                        
                        
                    }
                    .second{
                        margin-bottom: 2rem;

                    }
                    .last{
                        display: flex;

                        .time{
                            margin-right: auto;
                        }
                    }
                }
            }
            .last_row{
                background-color: $color-white;
                display: flex;
                padding: 1rem;

                p{
                    text-transform: uppercase;
                    color: $color-grey-dark;
                    margin-right: auto;
                }
                i{
                    color: $color-grey-dark;
                }
            }
        }
    }
}