

.top-section{
    background-color: pink;
    height: 30rem;

    position: relative;
    background-image: url('https://source.unsplash.com/random/600x600');
    background-size: cover;
    background-position: center;

}

.top-section-container{

    position: absolute;
    bottom: 5rem;
    left: 5rem;
    display: flex;



    &__img{
        width: 9rem;
        height: 9rem;
        border-radius: 50%;

    }

    &__details{

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;


        &-para{
            font-size: 2.2rem;
            color: $color-white;
            margin-bottom: 0.5rem;
        }

        &-links{
            display: flex;
            list-style: none;
            justify-content: space-around;

            a{
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                padding:  0.7rem 1rem;
                background-color: rgba(255,255,255, 0.4);
                border-radius: 3px;
            }
        }
    }

}

