

// colors
$color-background: #3B5998;
$color-grey-text:#F4F4F4;

$color-links-blue: #6EB8F6;

$color-white: #fff;

$color-grey-dark: #aaa;
$color-grey-light: #ddd;



$box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);

//icons

$icon-size: 1.2rem;